body{
    background-color: #e1e9fc;
}
#logo{
    width: 50vw;
    height: 50vw;
    margin-left: 25vw;
    margin-top: 5vw;
    background-color: blue;
}

.button-1{
    height: 10vw;
    width: 50vw;
    border-radius: 50px;
    margin-left: 25vw;
    border-style: none;
    margin-top: 2vh;
    font-size: 3.5vw;
}

.white-button{
    background-color: white;
    color: #00036a;
}

.blue-button{
    background-color: #00036a;
    color: white;
}

#espaco-1{
    height: 20vw;
}


.info{
    font-size: 5vw;
    margin-left: 20vw;
}

.center-1{
    margin-left: 25vw;
}


@media only screen and (min-width: 600px) {
  
    .button-1{
        height: 5vw;
        width: 25vw;
        margin-left: 33vw;
    }

    #logo{
        width: 25vw;
        height: 25vw;
        margin-left: 33vw;
        margin-top: 0vw;
    }

    #espaco-1{
        height: 0vw;
    }

    .info{
        font-size: 2vw;
        margin-left: 33vw;
    }

    .center-1{
        margin-left: 33vw;
    }
        
}



.img-apps{
    width: 10vw;
    height: 10vw;
}

.flex{
    display: flex;
    flex-direction: row;
}